.hover-pointer {
    cursor: pointer;
}

.main-div {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.783),
        rgba(0, 174, 255, 0.5)
      ),url("DSC03776.jpg");
    background-size: cover;
    background-repeat: repeat
}